<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hospital Information System</title>
  </head>
  <body>
    <my-app></my-app>
    <!-- webpack builds are automatically injected -->
  </body>
</html>
